/* GENERAL */

#grid {
  display: grid;
  grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
  grid-template-rows: 150px 1fr;
  grid-template-areas: "nav nav nav nav nav nav nav"
  ". body body body body body .";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}


/* Background */

body {
  background-color: #AB987A;
}


/* Navigation Bar */

.navitem {
  color: white;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


/*Makes the whole panel clickable*/

.fullpanellink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* fixes overlap error in IE7/8,
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

#title {
  grid-area: title;
  color: #333;
  background-color: #F5F5F5;
}

#genre {
  grid-area: genre;
  background-color: #0F1626;
}

#artist {
  grid-area: artist;
  background-color: #AB987A;
}

#about {
  grid-area: about;
  background-color: #FF533D;
}

#navgrid {
  justify-items: stretch;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 150px;
  grid-template-areas: "title title genre artist about";
  display: grid;
  grid-area: nav;
}
